.input-field { 
    max-width: 380px; 
    width: 100%; 
    background-color: #f0f0f0; 
    margin: 15px 0 0 60px; 
    height: 55px; 
    border-radius: 55px; 
    display: grid; 
    grid-template-columns: 15% 85%; 
    padding: 0 0.56rem; 
     
    position: center; 
  } 
 
 
.input-field i { 
    text-align: center; 
    line-height: 55px; 
    color: #acacac; 
    transition: 0.5s; 
    font-size: 1.1rem; 
    } 
   
  .input-field input { 
    background: none; 
    outline: none; 
    border: none; 
    line-height: 1; 
    font-weight: 600; 
    font-size: 1.1rem; 
    color: #333; 
  } 
   
  .input-field input::placeholder { 
    color: #aaa; 
    font-weight: 500; 
  } 
 
  .password { 
    align-items: center;
    margin-top: 10px; 
  } 
 
 
 
  .btn { 
      align-items: center; 
      padding: 10px; 
      margin-top: 5.5px; 
  } 
 
  .card{ 
    width: 500px; 
    border-radius: 6px; 
    background: #fff; 
    border: none; 
    height: 400px; 
    position: relative; 
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19); 
 
     
} 
 
 
.header { 
    background: #436eee; 
    color: #fff; 
    text-align: center; 
    padding: 15px; 
    border-radius: 6px 6px 0 0; 
     
} 
 
 
body{ 
    background: #eee; 
} 
 
 
 
.form-control{ 
    margin-right: 12px; 
} 
 
.form-control:focus{ 
    color: #495057; 
    background-color: #fff; 
    border-color: #ff8880; 
    outline: 0; 
    box-shadow: 2px; 
} 
 
.cursor{ 
    cursor: pointer; 
} 
 
.cursor:hover{ 
    background: #cdc5bf; 
    /* cursor: pointer; */ 
} 
   
.container{ 
    height: 100vh; 
} 
 
body{ 
    background: #eee; 
}